[submodule "input/websocket/js"]
	path = input/websocket/js
	url = git@github.com:kevoree/nodered-js-input-websocket.git
[submodule "output/websocket/js"]
	path = output/websocket/js
	url = git@github.com:kevoree/nodered-js-output-websocket.git
[submodule "input/mqtt/js"]
	path = input/mqtt/js
	url = git@github.com:kevoree/nodered-js-input-mqtt.git
[submodule "output/mqtt/js"]
	path = output/mqtt/js
	url = git@github.com:kevoree/nodered-js-output-mqtt.git
[submodule "input/inject/js"]
	path = input/inject/js
	url = git@github.com:kevoree/nodered-js-input-inject.git
[submodule "output/debug/js"]
	path = output/debug/js
	url = git@github.com:kevoree/nodered-js-output-debug.git
